/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
.owl-stage {
  padding-right: 0px;
}
.owl-theme {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .owl-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    pointer-events: none;
    .disabled {
      opacity: 0 !important;
    }
    .owl-next {
      margin-right: -25px;
    }
    .owl-prev {
      margin-left: -25px;
    }

    [class*="owl-"] {
      background-color: transparent;
      font-size: 25px;
      pointer-events: auto;
      &:hover {
        background: transparent;
      }
      .disabled {
        opacity: 0;
      }
    }
  }
}
